.page-footer {
  //display: block;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @include container-fluid();
  text-align: center;
}

.page-footer__hashtag {
  min-width: 160px;
  width: 33%;
  display: inline-block;
  font: {
    family: $font-fmlblt;
    size: $font-szz;
  }
  line-height: 26px;
  margin: 38px 0;
}

.page-footer__social {
  width: 33%;
  min-width: 160px;
  text-align: center;
}

.footer-social__link {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin: 2px 0;
  background: #81b3d2;
  text-align: center;
  vertical-align: middle;
}

.social-img {
  display: inline-block;
  margin-top: 15px;
}

// Копирайт

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  min-height: 35px;
  width: 33%;
  margin-right: 15px;
  margin-top: 23px;
  margin-bottom: 23px;
}

.footer-copyright__txt {
  display: block;
  width: 65%;
  padding-right: 11px;
  box-sizing: border-box;
  text-align: right;
  //line-height: 26px;
}

.page-footer__logo {
  display: block;
  width: 27px;
  height: 34px;
  //vertical-align: middle;
}

@media (min-width: 480px) {
  .page-footer {
    flex-direction: row;
    min-height: 120px;
    //flex-wrap: wrap;
  }

}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 960px;

  }
  .page-footer__hashtag {

  }
  .page-footer__social {

  }
  .page-footer__copyright {
    justify-content: flex-end;
    text-align: right;
    margin-right: 44px;
  }
}

@media (min-width: $desktop-width) {

  .page-footer__hashtag {
    text-align: left;
  }

  .page-footer__copyright {
    margin-right: 0;
  }
}
