@font-face {
  font-family: "STSans";
  src: url("/source/fonts/pt-sans.woff") format("woff"),
    url("/source/fonts/pt-sans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "STSans Bold";
  src: url("/source/fonts/pt-sans-bold.woff") format("woff"),
    url("/source/fonts/pt-sans-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}
