@mixin clearfix() {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin list() {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  //&:after {
  //  content: "";
  //  display: inline-block;
  //  width: 100%;
  //}
}

@mixin wrapper() {
  text-align: center;
}

@mixin link() {
  text-decoration: none;
}

@mixin container() {

  width: 320px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

@mixin container-fluid () {
  width: auto;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
  }
}
