.main-page {
  @include container-fluid();
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-wrap {
  @include flex-column ();
  justify-content: space-between;
  align-items: center;
  width: $content-width;
  margin-top: 15px;
}

.title-triangle {
  width: 100%;
  min-height: 37px;
  background: #81b3d2 url("/img/content/bg-triangle.svg") no-repeat center 0;
  background-size: cover;
}

.main-page__title {
  width: 260px;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 25px;

  font: {
    family: $font-fmlblt;
    size: $font-sz;
  }
  line-height: 26px;

  &--white {
    display: inline-block;
    font: {
      family: $font-fmlblt;
      size: $font-sz;
    }
    line-height: 26px;
    color: #ffffff;
    width: 80%;
    margin: {
      top: 40px;
      bottom: 18px;
    }
  }

  &--light {
    width: 280px;
    font: {
      family: $font-fmlblt;
      size: $font-sz;
    }
    line-height: 26px;
    margin: {
      top: 29px;
      bottom: 6px;
    }
  }
}

.page__subtitle {
  width: $visual-width;
  text-align: center;
  line-height: 28px;
  margin: {
    top: 0;
    bottom: 4px;
  }
}

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $visual-width;
  line-height: 0;
  background-color: #ffffff;

  &--blue {
    background-color: #81b3d2;
  }

  &--light {
    background-color: #eeeeee;

    &:last-child {
      .advantages__wrap--light {
        border-bottom: 0;
      }
    }
  }
}

.advantages-light__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $visual-width;
  background: #eeeeee;
}

.advantages__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 84%;
}

.advantages__wrap--light {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 83%;
  line-height: 26px;
  border-bottom: 1px #d6d6d6 solid;
}

.advantages__number {
  width: 50%;
  margin: {
    top: 0;
    bottom: 11px;
  }
}

.advantages__txt {
  width: 100%;
  margin: {
    top: 15px;
    bottom: 0;
  }
  padding-bottom: 40px;
  line-height: 21px;
  text-align: center;
  font: {
    family: $font-fml;
    size: $font-szs;
  }

  &--light {
    width: 280px;
    margin: {
      top: 0;
      bottom: 29px;
    }
    line-height: 21px;
  }
}

.advantages-img__container {
  width: 100%;
}

.advantages__img {
  width: 100%;
  object-fit: cover;
  height: 260px;
}

// Список предложиений

.advantages-section {
  display: block;
  width: 100%;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  @include list();
  text-align: left;
}

.advantages__item {
  display: block;
  margin-top: 23px;
  &--three {
    margin-bottom: 34px;
  }
}

.advantages-item__pic {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.advantages-item__icon {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-left: 20px;

  &--house {
    width: 39px;
    height: 37px;
  }

  &--gift {
    width: 32px;
    height: 38px;
  }

  &--burger {
    width: 40px;
    height: 35px;
  }
}

.advantages-item__content {
  display: inline-block;
  vertical-align: top;
  width: 67%;
  margin: {
    left: 16px;
  }
}

.advantages-item__title {
  display: block;
  font: {
    family: $font-fmlblt;
    size: $font-sz;
  }
  line-height: 26px;
  margin-top: 10px;
}

.advantages-item__txt {
  margin: {
    top: 13px;
    bottom: 0;
  }
}

// Реклама - Предложение

.main-offer__section {
  display: inline-block;
  width: 280px;
}

.offer__title {
  display: block;
  font: {
    family: $font-fmlblt;
    size: $font-szz;
  }
  line-height: 26px;
  margin: {
    top: 30px;
    bottom: 16px;
  }
}

.offer__content {
  margin: {
    top: 0;
    bottom: 36px;
  }
  line-height: 24px;
}

// Кнопка поиска

.button-search {
  display: inline-block;
  width: 280px;
  padding: {
    top: 18px;
    bottom: 17px;
  }
  font: {
    family: $font-fmlblt;
    size: 21px;
  }
  margin-bottom: 23px;
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
  color: #ffffff;
  background: #81b3d2;
  @include link();

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: #94b9d2;
  }

  &:visited {
    background-color: #e5e5e5;
  }
}

// Карта Гугла

.google-map {
  @include container-fluid();
}

.no-js .main-page__map-js {
  display: none;
}

.js .map__wrap {
  display: none;
}

.map__wrap {
  display: block;
  width: 100%;
  background-color: #f4f0ed;
}

.map__pic {
  display: block;
  height: 350px;
  margin: 0 auto;

}

.map-marker {
  position: relative;
  top: 185px;
  display: block;
  width: 27px;
  height: 27px;
  margin: 0 auto;
}

// Медиа выражения

@media (min-width: $tablet-width) {

  .title-wrap {
    text-align: center;
    margin-top: 25px;

    &::after {
      display: none;
    }
  }

  .title-triangle {
    height: 46px;
  }

  .advantages-light__wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;
  }

  .advantages__wrap {
    width: 50%;
  }

  .advantages__txt {
    width: 65%;
    color: #ffffff;
    margin: {
      top: 21px;
      bottom: 13px;
    }
    padding-bottom: 0;
  }

  .advantages__number--another {
    color: #ffffff;

  }

  .main-page__title {
    width: 450px;
    font: {
      size: $font-szz;
    }
    line-height: 26px;

    &--light {
      width: 135px;
      font: {
        size: $font-szz;
      }
      line-height: 26px;
      margin: {
        top: 47px;
        bottom: 7px;
      }
    }

    &--white {
      width: 55%;
      margin-top: 16px;
    }
  }

  .page__subtitle {
    width: 100%;
  }

  .advantages {
    flex-direction: row;
    justify-content: space-between;

    &--light {
      width: 33%;
      flex-direction: row;
      justify-content: center;
      background-color: #ffffff;
    }
  }

  .advantages__wrap--light {
    border: 0;
    background-color: #ffffff;
  }

  .advantages-img__container {
    min-width: 66%;

    &--left {
      order: -1;
    }
  }

  .advantages__img {
    width: 100%;
    height: 255px;
    &--left {
      order: -1;
    }
  }

  .advantages__list {
    display: flex;
    flex-direction: row;

    text-align: center;
  }

  .advantages__txt--light {
    width: 80%;
    margin: {
      top: 7px;
      bottom: 10px;
    }
  }

  .advantages__item {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 45px;
    margin: {
      top: 0;
    }

    &--two {
      order: 1;
    }
  }

  .advantages-item__pic {
    display: block;
    width: 77px;
    height: 77px;
    margin: {
      top: 60px;
      right: auto;
      bottom: 25px;
      left: auto;
    }
  }

  .advantages-item__icon {
    margin: {
      top: 0;
      bottom: 0;
      left: 6px;
    }

    &--house {
      width: 75px;
      height: 72px;
    }

    &--gift {
      width: 64px;
      height: 75px;
    }

    &--burger {
      width: 77px;
      height: 68px;
    }
  }

  .advantages-item__content {
    width: 70%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .advantages-item__txt {
    margin: {
      top: 19px;
      bottom: 18px;
    }
  }

  .advantages-item__title {
    margin-top: 0;
    font-size: $font-szz;
  }

  .main-offer__section {
    width: 60%;
  }

  .offer__title {
    margin: {
      top: 95px;
      bottom: 26px;
    }
    font-size: $font-h1;
  }

  .offer__content {
    margin-bottom: 43px;
  }

  .button-search {
    width: 100%;
    margin-bottom: 31px;
  }
}

// Десктопные ширины - фиксированные!!!

@media (min-width: $desktop-width) {

  .main-page__title {
    width: 450px;

    &--white {
      width: 160px;
      margin-top: 6px;
    }

    &--light {
      margin: {
        top: 44px;
      }
    }
  }

  .title-wrap {
    width: 800px;
  }

  .advantages__wrap {
    width: 400px;
  }

  .advantages-img__container {
    width: auto;
  }

  .advantages__img {
    width: 800px;
    height: 256px;
  }

  .advantages__item {
    //width: 400px;
    text-align: center;
    margin: {
      top: 0;
      bottom: 65px;
    }
  }

  .advantages-item__content {
    width: 400px;
  }

  .advantages-item__txt {
    width: 290px;
    margin: {
      right: auto;
      left: auto;
    }
  }

  .advantages__txt {
    width: 280px;
  }

  .main-offer__section {
    width: auto;
  }

  .offer__content {
    width: 458px;
  }

  .offer__title {
    margin-top: 114px;
  }

  .button-search {
    width: 458px;
    padding-top: 25px;
    margin-bottom: 38px;
  }
}
