.photo-page {
  @include container-fluid ();
  @include flex-column ();
}

// Заголовок страницы

.photo-page__caption {
  width: 88%;
  text-align: center;
  margin: {
    top: 20px;
    right: auto;
    left: auto;
  }
}

.photo-page__title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

  font: {
    family: $font-fmlblt;
    size: $font-sz;
  }
  line-height: 26px;
}

.photo-page__subtitle {
  margin: {
    top: 15px;
    bottom: 20px;
  }
}

//Разделительная линия

hr {
  @include page-line ();
  margin-bottom: 22px;
}

//Список карточек фотографий

.photo-page__list {
  @include list ();
  width: $visual-width;
  font-size: 0;
  line-height: 0;
  text-align: center;
}

//Элемент списка карточек фотографий

.photo-page__item {
  width: $visual-width;
}

.item-content__wrap {
  width: $content-width;
  margin: 0 auto;

  &--one {
    margin: 0 auto;
  }
}

//Фотография

.photo-page__pic {
  width: 100%;
  background: #f2f2f2;
}

.name-author__wrap {
  width: 100%;
  text-align: left;
  border-top: 1px solid transparent;
}

.photo-name {
  display: block;
  min-width: 180px;
  font: {
    family: $font-fmlblt;
    size: $font-szs;
  }
  line-height: 24px;
  margin-top: 15px;
}

.photo-author {
  font: {
    family: $font-fml;
    size: $font-szs;
  }
  line-height: 24px;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 10px;
}

.photo-like__wrap {
  display: block;
}

.photo-like {
  text-align: left;
  font: {
    family: $font-fmlblt;
    size: $font-szs;
  }
  line-height: 24px;

  &::before {
    content: url("/img/icon/icon-like.svg");
    width: 23px;
    height: 21px;
    margin-right: 10px;
  }
}

//Сомневаетесь?

.photo-offer__section {
  @include flex-column ();
  width: 280px;
  margin: 0 auto;
}

//Видео

.photo-page__video {
  width: 100%;
}

//Медиавыражения

@media (min-width: $tablet-width) {
  .photo-page__subtitle {
    width: 445px;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  .pages-line {
    display: none;
  }

  .photo-page__list {
    text-align: left;
  }

  .photo-page__item {
    display: inline-block;
    vertical-align: top;
    width: 50%;

    &--full {
      width: 100%;
    }

    &:nth-of-type(odd) .item-content__wrap {
      margin-right: auto;
    }

    &:nth-of-type(even) .item-content__wrap {
      margin-left: auto;
    }
  }

  .item-content__wrap {
    margin: 0;

  &--one {
      margin: 0 auto;
    }
  }

  .photo-page__pic {
    min-width: 324px;
    min-height: 267px;
  }

  .author-like__wrap {
    background: #f2f2f2;
  }

  .name-author__wrap {
    display: inline-block;
    text-align: left;
    width: 50%;
    min-height: 70px;
    vertical-align: center;
  }

  .photo-name, .photo-author {
    margin-left: 7%;
  }

  .photo-like__wrap {
    display: inline-block;
    width: 50%;
    text-align: right;
    vertical-align: top;
  }

  .photo-like {
    display: inline-block;
    margin-top: 30px;
    margin-right: 7%;

    &::before {
      vertical-align: middle;
    }
  }

  .photo-offer__section {
    width: 442px;
  }
}

//Десктоптные размеры - фиксированные!

@media (min-width: $desktop-width) {
  .photo-page__subtitle {
    margin-bottom: 75px;
  }

  .photo-page__item {
    width: 33%;

    &--full {
      width: 100%;
    }
  }

  .item-content__wrap {
    width: 100%;
  }

  .photo-page__pic {
    width: 400px;
    height: 270px;

    &--full {
      width: 1200px;
      height: 400px;
    }
  }

  .author-like__wrap {
    min-height: 80px;
    margin-top: -80px;
    background: #b2b2b2;
    //opacity: 0.3;
  }

  .photo-name, .photo-author, .photo-like {
    color: #ffffff;
  }
}

